.qt-create {
  height: 720px;
  width: 1440px;
  background-color: red;
  position: relative;
  margin: auto;
  display: flex;
  background-image: url(src/assets/group1.png);
  background-size: 787px;
  background-repeat: no-repeat;
}
.qt-back {
  width: 40px;
}

.qt-back img {
  width: 40px;
  height: 40px;
  top: 30px;
  left: 54px;
  position: relative;
  padding: 10px;
  border-radius: 50px;
}
/* .qt-form {
  width: 787px;
  height: 720px;
  position: relative;
  float: left;
} */
.qt-form2 {
  width: 787px;
  height: 720px;
  position: relative;
  float: left;
}

.singin p:hover {
  color: red;
  cursor: default;
}
.singin p {
  font-family: "Open Sans";
  font-size: 20px;
  font-weight: 600;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: left;
  color: rgba(0, 0, 0, 1);
  text-transform: none;
  margin-left: -6px;
}
.custom-input1 label {
  position: relative;
  border-radius: 8px;
  top: 90px;
  /* top: 78px;
  left: -5px; */
  font-size: 14px;
  color: rgba(0, 0, 0, 1);
  transition: all 0.3s ease;
}
