@import url("https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap");
.qt-cards-container {
  background-image: url("../../../assets/Textures.png");
}
/* .qt-welcome {
  width: 550px;
  height: 114px;
  position: relative;
  top: 64px;
  left: 445px;
} */
/* .qt-welcome h1 {
  width: 486px;
  height: 65px;
  font-family: "Inter", sans-serif;
  font-size: 48px;
  font-weight: 700;
  line-height: 65px;
  letter-spacing: 0em;
  text-align: left;
  color: white;
  position: relative;
  top: -30px;
  left: -2px;
} */
/* .qt-welcome p {
  width: 490px;
  height: 25px;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 25px;
  letter-spacing: 0em;
  text-align: left;
  color: rgba(255, 255, 255, 1);
  position: relative;
  top: -40px;
  left: 30px;
} */
.qt-sign {
  width: 56px;
  height: 56px;
  position: relative;
  left: 498px;
  top: -61.5px;
}
/* .qt-card {
  width: 399px;
  height: 400px;
  position: relative;
  top: 210px;
  left: 64px;
  border-radius: 8px;
  background-color: white;
} */
.qt-ellipse {
  width: 180px;
  height: 180px;
  position: relative;
  top: 40px;
  left: 109.5px;
}
/* .qt-button_1 {
  width: 243px;
  height: 48px;
  position: relative;
  top: 21px;
  left: 78px;
  border-radius: 8px;
  border: 1px solid rgba(172, 172, 172, 1);
} */
/* .qt-button_1:hover {
  cursor: pointer;
  color: white;
  background-color: red;
} */
/* .qt-button_1 p {
  height: 22px;
  position: relative;
  top: -6px;
  left: 33px;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
} */
/* .qt-card h3 {
  width: 209px;
  height: 44px;
  position: relative;
  top: 31px;
  left: 95px;
  font-family: "Inter", sans-serif;
  font-size: 32px;
  font-weight: 600;
  line-height: 44px;
  letter-spacing: 0em;
  text-align: left;
} */
.qt-card + .qt-card {
  margin-left: 57px; /* Add margin to create gap between cards */
  margin-top: 0; /* Reset top margin */
  top: 210px; /* Reset top position */
  left: 64px; /* Reset left position */
}

.qt-card:nth-child(2) {
  position: relative;
  top: 210px;
  left: 64px;
}
.qt-ellipse_2 {
  width: 180px;
  height: 180px;
  position: relative;
  top: 40px;
  left: 109.5px;
}
.qt-card h2 {
  width: 281px;
  height: 44px;
  position: relative;
  top: 36px;
  left: 59px;
  font-family: "Inter", sans-serif;
  font-size: 32px;
  font-weight: 600;
  line-height: 44px;
  letter-spacing: 0em;
  text-align: left;
}
.qt-button_2 {
  width: 243px;
  height: 48px;
  position: relative;
  top: 33px;
  left: 78px;
  border-radius: 8px;
  border: 1px solid rgba(172, 172, 172, 1);
}
.qt-button_2:hover {
  cursor: pointer;
  color: white;
  background-color: red;
}
.qt-button_2 p {
  width: 228px;
  height: 22px;
  position: relative;
  top: -5px;
  left: -6px;

  font-family: "Inter", sans-serif;
  font-size: 15px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: center;
}
/* .qt-wrapper {
  width: 1440px;
  margin-left: -549px;
  display: flex;
} */
.qt-ellipse_3 {
  width: 180px;
  height: 180px;
  position: relative;
  top: 40px;
  left: 109.5px;
}
.qt-card h4 {
  width: 266px;
  height: 44px;
  position: relative;
  top: 20px;
  left: 67px;

  font-family: "Inter", sans-serif;
  font-size: 32px;
  font-weight: 600;
  line-height: 44px;
  letter-spacing: 0em;
  text-align: left;
}
.qt-button_3 {
  width: 243px;
  height: 48px;
  position: relative;
  top: -2px;
  left: 78px;
  border-radius: 8px;
  border: 1px solid rgba(172, 172, 172, 1);
}
.qt-button_3:hover {
  cursor: pointer;
  color: white;
  background-color: red;
}
.qt-button_3 p {
  height: 22px;
  position: relative;
  top: -4px;
  left: 1px;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: center;
}
