@import url("https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap");
.qt-categories {
  width: 1190px;
  height: 229px;
  margin: auto;
  padding-top: 40px;
}
.qt-categories h1 {
  height: 44px;
  font-family: "Inter", sans-serif;
  font-size: 32px;
  font-weight: 700;
  line-height: 44px;
  letter-spacing: 0em;
  text-align: center;
  position: relative;
}
.qt-categories-cards {
  width: 1190px;
  height: 165px;
  top: 20px;
  position: relative;

  display: flex;
}
.qt-card-fun {
  width: 165px;
  height: 165px;
  background-color: rgba(216, 0, 74, 1);
  border-radius: 8px;
}
.qt-card-fun:hover {
  background-color: #ff0058;
}
.qt-card-sports {
  width: 165px;
  height: 165px;
  background-color: rgba(132, 0, 231, 1);
  border-radius: 8px;
}
.qt-card-sports:hover {
  background-color: #9200ff;
}
.qt-card-traditional {
  width: 165px;
  height: 165px;
  background-color: rgba(13, 115, 236, 1);
  border-radius: 8px;
}
.qt-card-traditional:hover {
  background-color: #0075ff;
}
.qt-card-travel {
  width: 165px;
  height: 165px;
  background-color: rgba(214, 110, 15, 1);
  border-radius: 8px;
}
.qt-card-travel:hover {
  background-color: #ff7a00;
}
.qt-card-education {
  width: 165px;
  height: 165px;
  background-color: rgba(255, 69, 181, 1);
  border-radius: 8px;
}
.qt-card-education:hover {
  background-color: #ff0099;
}
.qt-card-business {
  width: 165px;
  height: 165px;
  background-color: rgba(23, 211, 64, 1);
  border-radius: 8px;
}
.qt-card-business:hover {
  background-color: #00ff38;
}
.qt-card-fun + .qt-card-sports {
  margin-left: 40px;
  margin-top: 0;
}
.qt-card-sports + .qt-card-traditional {
  margin-left: 40px;
  margin-top: 0;
}
.qt-card-traditional + .qt-card-travel {
  margin-left: 40px;
  margin-top: 0;
}
.qt-card-travel + .qt-card-education {
  margin-left: 40px;
  margin-top: 0;
}
.qt-card-education + .qt-card-business {
  margin-left: 40px;
  margin-top: 0;
}
.qt-card-fun h6 {
  width: 37px;
  height: 27px;
  position: relative;
  top: 16px;
  left: 16px;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: left;
  color: rgba(255, 255, 255, 1);
}
.qt-card-sports h6 {
  width: 62px;
  height: 27px;
  position: relative;
  top: 16px;
  left: 16px;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: left;
  color: rgba(255, 255, 255, 1);
}
.qt-card-traditional h6 {
  width: 106px;
  height: 27px;
  position: relative;
  top: 16px;
  left: 16px;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: left;
  color: rgba(255, 255, 255, 1);
}
.qt-card-travel h6 {
  width: 60px;
  height: 27px;
  position: relative;
  top: 16px;
  left: 16px;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: left;
  color: rgba(255, 255, 255, 1);
}
.qt-card-education h6 {
  width: 97px;
  height: 27px;
  position: relative;
  top: 16px;
  left: 16px;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: left;
  color: rgba(255, 255, 255, 1);
}
.qt-card-business h6 {
  width: 85px;
  height: 27px;
  position: relative;
  top: 16px;
  left: 16px;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: left;
  color: rgba(255, 255, 255, 1);
}
.qt-fun-png {
  width: 165px;
  height: 120px;
  top: 19px;
  position: relative;
  border-radius: 8px;
}
.qt-sports-png {
  width: 165px;
  height: 120px;
  top: 19px;
  position: relative;
  border-radius: 8px;
}
.qt-traditional-png {
  width: 165px;
  height: 120px;
  top: 19px;
  position: relative;
  border-radius: 8px;
}
.qt-travel-png {
  width: 165px;
  height: 120px;
  top: 19px;
  position: relative;
  border-radius: 8px;
}
.qt-education-png {
  width: 165px;
  height: 120px;
  top: 19px;
  position: relative;
  border-radius: 8px;
}
.qt-business-png {
  width: 165px;
  height: 120px;
  top: 19px;
  position: relative;
  border-radius: 8px;
}
