.qt-acc {
  height: 775px;
  width: 1440px;
  background-color: red;
  position: relative;
  margin: auto;
  display: flex;
  background-image: url(src/assets/group1.png);
  background-size: auto 787px;
  background-repeat: no-repeat;
}
.qt-right {
  display: block;
  width: 551px;
  margin-left: 100px;
}
.custom-input {
  position: relative;
  margin-bottom: 20px;
}
/* .form-container {
  margin-top: 90px;
} */
.textfield {
  border-radius: 5px;
  font-size: 15px;
  margin-top: -6px;
  width: 405px;
  padding-left: 22px;
  height: 48px;
  background-color: white;
  border: none;
}
.textfieldlname.error {
  color: red;
}

.errorp {
  color: red;
  font-size: 10px;
}

.custom-input input:focus + .input-bottom {
  height: 100%;
}

.custom-input .input-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
}

.custom-input input:focus + label {
  top: -12px;
  font-size: 12px;
  color: #007bff;
}
/* .custom-inputb {
  margin: 21px;
} */
.textfieldfname {
  width: 183px;
  height: 48px;
  left: -54px;
}
.textfieldlname {
  width: 185px;
  background-color: white;
  border-radius: 8px;
  left: -54px;
}
.custom-inputb .input-wrapper1 {
  height: 48px;
  width: 214px;
}
.custom-inputb .input-wrapper2 {
  height: 48px;
  width: 214px;
}
/* .custom-inputb label {
  position: relative;
  top: -27px;
  left: -20px;
  font-family: "Open Sans";
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: left;

  color: rgba(0, 0, 0, 1);
  transition: all 0.3s ease;
} */
.custom-inputb .input-wrapper2 label {
  top: -2px;
  left: -48px;
}
/* .custom-inputb input {
 
  border: 1px solid white;
  border-radius: 5px;
  font-size: 15px;
  margin-top: -6px;
  width: 385px;
  padding-left: 22px;
  height: 48px;
} */
/* .custom-inputc {
  margin-top: 38px;
} */
/* .custom-inputd {
  margin-top: 16px;
} */
/* .custom-inpute {
  margin-top: 16px;
} */
/* .custom-inputc label {
  position: relative;
  top: -6px;
  left: 2px;
  font-family: "Open Sans";
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: left;

  color: rgba(0, 0, 0, 1);
  transition: all 0.3s ease;
} */

/* .custom-inputc input {

  border: 1px solid white;
  border-radius: 5px;
  font-size: 15px;
  margin-top: -5px;
  width: 385px;
  padding-left: 22px;
  height: 48px;
} */
/* .custom-inputd label {
  position: relative;
  top: -6px;
  left: 2px;
  font-family: "Open Sans";
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: left;

  color: rgba(0, 0, 0, 1);
  transition: all 0.3s ease;
} */

/* .custom-inputd input {

  border: 1px solid white;
  border-radius: 5px;
  font-size: 15px;
  margin-top: -5px;
  width: 385px;
  padding-left: 22px;
  height: 48px;
} */
/* .custom-inpute label {
  position: relative;
  top: -6px;
  left: 2px;
  font-family: "Open Sans";
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: left;

  color: rgba(0, 0, 0, 1);
  transition: all 0.3s ease;
} */
.custom-inputb .input-wrapper1 {
  height: 48px;
  width: 214px;
  margin-top: -23px;
  margin-left: 31px;
}
.custom-inputb .input-wrapper2 {
  height: 48px;
  width: 214px;
  margin-left: 245px;
  margin-top: -69px;
}
.textfieldphone {
  border-radius: 5px;
  font-size: 15px;
  margin-top: -6px;
  width: 405px;
  padding-left: 32px;
  height: 48px;
  background-color: white;
  border: none;
  background-image: url("../../../public/assets/flag.png");
  background-size: 34px 24px;
  background-position: 12px;
  background-repeat: no-repeat;
}

/* .custom-inpute input {

  border: 1px solid white;
  background-image: url("../../../public/assets/flag.png");
  background-repeat: no-repeat;
  border-radius: 5px;
  font-size: 15px;
  margin-top: -5px;
  width: 332px;
  padding-left: 75px;
  height: 48px;
} */
.input-field::placeholder {
  color: #999;
  left: 20px;
}
/* .accept {
  width: 424px;
  height: 32px;
} */
/* .accept input {
  width: 24px;
  height: 24px;
  margin-top: 13px;
  background-color: red;
} */
/* .accept p {
  font-family: "Open Sans";
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: center;
  font-size: 11px;
  font-weight: 400;
  color: rgba(255, 255, 255, 1);
  line-height: 16px;
  letter-spacing: 0em;
  text-align: center;
  margin-top: 15px;
  margin-left: -8px;
} */
/* .accept p span {
  color: rgba(0, 0, 0, 1);
} */
/* .create-acc button {
  width: 405px;
  height: 56px;
  border-radius: 8px;
  margin-top: 30px;
  background-color: rgba(30, 10, 60, 1);
} */
/* .create-acc button:hover {
  cursor: pointer;
} */
/* .create-acc button p {
  font-family: "Open Sans";
  font-size: 20px;
  font-weight: 600;
  line-height: 27px;
  letter-spacing: 0em;
  left: 151px;
  margin-top: 15px;
  color: rgba(255, 255, 255, 1);
} */

input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 20px;
  height: 20px;
  border: 1px solid white;
  background-color: red;
  outline: none;
  cursor: pointer;
}

input[type="checkbox"]:checked {
  background-color: red;
}

input[type="checkbox"]::before {
  content: "\2713";
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: 20px;
  color: white;
  visibility: hidden;
}

input[type="checkbox"]:checked::before {
  visibility: visible;
}
.error-icon {
  position: relative;
  margin-left: 362px;
  height: 20px;
  width: 20px;
  top: -32px;
}
.input-wrapper {
  height: 56px;
}
span .error {
  color: red;
}
.error {
  color: red;
  padding-left: -5px;
  font-size: 9px;
  display: block;
}
