@import url("https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap");
/* .qt-createevent {
  width: 1440px;
  height: 1537px;
  margin: auto;
  position: relative;
  margin-top: 113px;
} */
/* .qt-newevent h1 {
  width: 391px;
  height: 54px;
  top: -61px;
  left: 124px;
  position: relative;
  font-family: "Inter", sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 54px;
  letter-spacing: 0em;
  text-align: left;
} */
/* .qt-event-arrow {
  width: 40px;
  height: 40px;
  position: relative;
  top: 27px;
  left: 64px;
  padding: 10px;
  border-radius: 50px;
} */
/* .qt-newevent {
  width: 1440px;
  height: 94px;
  margin: auto;
} */
/* .qt-event-edit {
  width: 1310px;
  height: 67px;
  position: relative;
  top: -52px;
  left: 64px;
  display: flex;
} */
/* .qt-edit {
  width: 224px;
  height: 67px;
} */
/* .qt-banner {
  width: 224px;
  height: 67px;
} */

/* .qt-ticketing {
  width: 224px;
  height: 67px;
} */
/* .qt-review {
  width: 224px;
  height: 67px;
} */

/* .qt-edit p {
  height: 33px;
  position: relative;
  top: -20px;
  font-family: "Inter", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 33px;
  letter-spacing: 0em;
  text-align: center;
} */
/* .qt-banner p {
  height: 33px;
  position: relative;
  top: -20px;
  font-family: "Inter", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 33px;
  letter-spacing: 0em;
  text-align: center;
  color: rgba(171, 171, 171, 1);
} */
/* .qt-ticketing p {
  height: 33px;
  position: relative;
  top: -20px;
  font-family: "Inter", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 33px;
  letter-spacing: 0em;
  text-align: center;
  color: rgba(171, 171, 171, 1);
} */
/* .qt-review p {
  height: 33px;
  position: relative;
  top: -20px;
  font-family: "Inter", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 33px;
  letter-spacing: 0em;
  text-align: center;
  color: rgba(171, 171, 171, 1);
} */
/* .qt-event-h5 {
  height: 25px;
  position: relative;
  left: 64px;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 25px;
  letter-spacing: 0em;
  text-align: left;
} */
/* .qt-event-title {
  width: 900px;
  height: 77px;
  position: relative;
  left: 64px;
} */
/* .qt-event-title label {
  height: 19px;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  color: rgba(45, 44, 60, 1);
} */

/* .qt-event-title input[type="text"] {
  width: 900px;
  height: 50px;
  position: relative;
  top: 8px;
  gap: 10px;
  border: 1px solid rgba(130, 130, 130, 0.7);
  border-radius: 8px;
} */
/* .qt-event-title input::placeholder {
  color: #ccc;
} */

/* Input field styles */
/* .qt-event-title input {
  width: 852px;
  height: 22px;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
  padding-left: 24px;
  border: 1px solid #ccc; 
  transition: border-color 0.3s ease;
  outline: none;
  cursor: pointer;
} */

/* Input field styles when focused */
/* .qt-event-title input:focus {
  border-color: #0076b8;
} */

/* Hide placeholder when input is focused */
/* .qt-event-title input:focus::placeholder {
  color: transparent;
} */
/* .qt-event-category {
  width: 900px;
  height: 77px;
  position: relative;
  left: 64px;
  top: 16px;
} */
/* .qt-event-category label {
  height: 19px;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  color: rgba(45, 44, 60, 1);
  position: relative;
} */
/* .qt-event-category input[type="text"] {
  width: 900px;
  height: 50px;
  position: relative;
  top: 8px;
  gap: 10px;
  border: 1px solid rgba(130, 130, 130, 0.7);
  border-radius: 8px;
} */
/* .qt-event-category input::placeholder {
  color: #ccc; 
} */

/* Input field styles */
/* .qt-event-category input {
  width: 852px;
  height: 22px;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
  padding-left: 24px;
  border: 1px solid #ccc; 
  transition: border-color 0.3s ease;
  outline: none;
  cursor: pointer;
} */
/* .qt-event-arrowdropdown {
  position: relative;
  left: 895px;
  top: -25px;
  transform: translateY(-50%);
  width: 12px;
  height: 9px;
  cursor: pointer;
} */

/* Dropdown menu */
/* .dropdown-menu {
  position: relative;
  top: -11px;
  width: 923px;
  height: 360px;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 8px;
  z-index: 1000;
  overflow: hidden; 
  max-height: 0; 
  transition: max-height 0.3s ease;
  overflow-y: scroll;
} */
/* .dropdown-menu.open {
  max-height: 469px;
} */

/* Dropdown items */
/* .dropdown-item {
  height: 67px;
  padding: 1px 50px 10px 50px;
  gap: 10px;
  cursor: pointer;
} */
/* .dropdown-item > span {
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: left;
  position: relative; 
  top: 20px;
} */
/* Dropdown items hover */
/* .dropdown-item:hover {
  background-color: #e6e5e7;
  border-radius: 8px;
} */
/* input[type="text"].selected {
  font-family: "Open Sans", sans-serif;
  font-size: 22px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
} */
/* .qt-event-dates {
  width: 665px;
  height: 198px;
  position: relative;
  margin-top: 31px;
  left: 64px;
  display: grid;
  gap: 16px 24px;
  grid-template-columns: auto auto;
} */

/* .qt-event-location-h5 {
  height: 25px;
  position: relative;
  left: 64px;
  margin-top: 16px;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 25px;
  letter-spacing: 0em;
  text-align: left;
} */
/* .qt-event-location-title {
  width: 900px;
  height: 77px;
  position: relative;
  left: 64px;
} */
/* .qt-event-location-title label {
  height: 19px;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  color: rgba(45, 44, 60, 1);
} */

/* .qt-event-location-title input[type="text"] {
  width: 900px;
  height: 50px;
  position: relative;
  top: 8px;
  gap: 10px;
  border: 1px solid rgba(130, 130, 130, 0.7);
  border-radius: 8px;
} */
/* .qt-event-location-title input::placeholder {
  color: #ccc;
} */
/* .qt-event-location-title input {
  width: 852px;
  height: 22px;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
  padding-left: 24px; 
  border: 1px solid #ccc; 
  transition: border-color 0.3s ease;
  outline: none;
  cursor: pointer;
} */
/* .qt-event-discription-title {
  width: 1003px;
  height: 129px;
  gap: 10px;
  position: relative;
  left: 64px;
  margin-top: 16px;
} */
/* .qt-event-discription-title label {
  height: 19px;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  color: rgba(45, 44, 60, 1);
} */
/* .qt-event-discription-title .event-textarea {
  width: 841px;
  height: 129px;
  padding: 14px 24px 14px 24px;
  position: relative;
  left: 162px;
  gap: 10px;
  border-radius: 6px;
  border: 1px solid rgba(130, 130, 130, 0.7);
} */

/* .event-button {
  width: 191px;
  height: 56px;
  top: 1501px;
  left: 1149px;
  padding: 20px 67px 20px 67px;
  gap: 10px;
  border-radius: 10px;
  background-color: #2b293d;
  top: 472px;
  position: relative;
} */
/* .event-button p {
  width: 143px;
  height: 25px;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 25px;
  letter-spacing: 0em;
  text-align: center;
  color: rgba(255, 255, 255, 1);
  position: relative;
  top: -20.5px;
  left: -40px;
} */
/* .custom-datepicker {
  width: 320px;
  height: 56px;
  padding: 0 24px 0 0;
  margin-right: 20px; 
  border-radius: 6px;
  border: 1px solid #ccc; 
} */
/* .where-event-place-dropdown {
  width: 900px;
  height: 182px;
  background-color: white;
  cursor: pointer;
  z-index: 1000;
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.3s ease;
} */
/* .qt-event-venue {
  width: 56px;
  height: 56px;
  padding: 13px;
  border-radius: 70px;
  position: relative;
} */
/* .qt-event-online {
  width: 56px;
  height: 56px;
  padding: 13px;
  border-radius: 70px;
  position: relative;
} */
/* .dropdown-items > span {
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: left;
  position: relative;
  top: -30px;
} */
/* .qt-event-starttime {
  font-family: "Inter", sans-serif;
  font-size: 14px;
 
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
} */
